<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Free CRM Application Test Automation Suite"
	verbose="5">

	<listeners>
		<listener class-name="com.crm.qa.base.CustomListener" />
	</listeners>
	<test name="Free CRM App Test Cases">
		<classes>
			<class name="com.crm.qa.testcases.LoginPageTest" />
			<class name="com.crm.qa.testcases.HomePageTest" />
			<class name="com.crm.qa.testcases.ContactsPageTest" />
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
